<footer style="background: #1F1F1F;" >
    <div style="background: #1F1F1F;">
        
    
    <div class="card">

         <div class="row g-0">
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12"><img src="../../assets/Logo-4-5-05.png" alt="" srcset=""></div>
                </div>
            </div>
         <div class="col-md-7">
                 
            
             <div class="row p-4">

                 <div class="col-md-4">

                     <ul class="item-list">
                         
                         <li><a href="#" routerLink="/videos">Our Videos</a></li>

                     </ul>
                     
                 </div>



                 <div class="col-md-4">

                     <ul class="item-list">
                         
                         <li><a href="#" routerLink="/privacy-policy">Privacy Policy</a></li>
                         
                     </ul>
                     
                 </div>



                 <div class="col-md-4">

                     <ul class="item-list">
                         
                         <li><a href="#" routerLink="/legal-doc">Legal Documents</a></li>

                     </ul>
                     
                 </div>


<!-- 
                 <div class="col-md-3">

                     <ul class="item-list" *ngIf="logedIn" >
                         
                         <li><a href="#">Business Oppurtunities</a></li>
                         

                     </ul>
                     
                 </div> -->
                 
             </div>

             
             


         </div>


         <div class="col-md-3">


            <div class="social p-4 text-center">

                <div style="color: white;">Follow Us On</div>
                 
                 <ul class="social-icons">
                     
                     <li><i class="fa fa-facebook fa-2x text-white"></i></li>

                     <li><i class="fa fa-linkedin fa-2x text-white"></i></li>

                     <li><i class="fa fa-google fa-2x text-white"></i></li>
                 </ul>                   

            </div>
             


         </div>


         </div>

         


    </div>

</div>

</footer>
