<div class="container">
    <div class="banner">
        <div class="row" style="padding-left: 3%;padding-right: 3%;">
            <div class="d-flex flex-column f1" style="margin-top: 80px;">
                <div class="head">Start your financial journey with us</div>
                <div class="sub-head" style="margin-top: 30px;">Lörem ipsum rede mar. Jåpån vast ining ben de benybel. Cynception nettokrati viss dogen vire. Krosamma per helarade mypes. Vaktigt överklassafari ol gusol. 
                    Seminisade makrore guheten teck vamavis. Parar orar med teväst etnotos. Köttrymden. Poment petabyte på nytuk. Laktig exokåskapet odat nyr prelig. 
                    Hemist ding meganer. Prektiga label kvasiktig anament exovis. Vimenösam. Byprese dipåns. Sugrörsseende valig kvasiskapet jag börenat. 
                    </div>
            </div>
            <!-- routerLink="/courses" -->

            <div class="d-flex flex-column f1" style="align-items: flex-end;">
                <input type="text" class="input-box" style="margin-top: 50px;" name="name" placeholder="Name" [(ngModel)] = "name">
                <input type="email" class="input-box" style="margin-top: 20px;" name="email" placeholder="Email" [(ngModel)] = "email">
                <input type="text" class="input-box" style="margin-top: 20px;" name="mobileNo" placeholder="Mobile Number" [(ngModel)] = "mobileNo">
                <input type="password" class="input-box" style="margin-top: 20px;" name="password" placeholder="Password" [(ngModel)] = "password">
                <input type="text" class="input-box" style="margin-top: 20px;" name="invitationCode" placeholder="Invitation Code" [(ngModel)] = "invitationCode">
                <button type="button" class="btn" style="margin-top: 50px;"  (click)="register()">Register</button>
                
            </div>
        </div>
    </div>
</div>
