<div class="container">
    <div class="banner">
        <div class="row" style="padding-left: 3%;padding-right: 3%;">
            <div class="d-flex flex-column f1" style="margin-top: 80px;">
                <div class="head">Welcome back member!</div>
                <div class="sub-head" style="margin-top: 30px;">Lörem ipsum rede mar. Jåpån vast ining ben de benybel. Cynception nettokrati viss dogen vire. Krosamma per helarade mypes. Vaktigt överklassafari ol gusol. 
                    Seminisade makrore guheten teck vamavis. Parar orar med teväst etnotos. Köttrymden. Poment petabyte på nytuk. Laktig exokåskapet odat nyr prelig. 
                    Hemist ding meganer. Prektiga label kvasiktig anament exovis. Vimenösam. Byprese dipåns. Sugrörsseende valig kvasiskapet jag börenat. 
                    </div>
            </div>
            
            <div class="d-flex flex-column f1" style="align-items: flex-end;margin-top: 200px;">
                <input type="email" class="input-box" style="padding:12px 20px;"placeholder="Email" [(ngModel)] = "email">
                <input type="password" class="input-box" style="margin-top: 20px;padding:12px 20px;" placeholder="Password" [(ngModel)] = "password">
                <button type="button" class="btn" style="margin-top: 50px;" routerLink="/dashboard" (click)="login()">Login</button>
                <!-- <button type="button" class="btn" style="margin-top: 50px;"  (click)="logout()">Logout</button> -->
            </div>
        </div>
    </div>
</div>
