<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="d-flex flex-column" style="align-items: center">
        <div class="label" style="width: 300px">
          <div class="d-flex justify-content-between" style="width: 250px">
            <img
              src="../../assets/img/image-4@2x.png"
              alt=""
              style="width: 20px; height: 20px; margin-top: 7px"
            />&nbsp;&nbsp;
            <div style="font: 5px" class="title">
              Learn and Earn through Our Different Courses
            </div>
          </div>
        </div>
        <div class="label" style="width: 318px">
          <div class="d-flex justify-content-between" style="width: 250px">
            <img
              src="../../assets/img/image-4@2x.png"
              alt=""
              style="width: 20px; height: 20px; margin-top: 7px"
            />&nbsp;&nbsp;
            <div class="title">Opportunity to Earn through Multiple Sources</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="d-flex flex-column" style="align-items: center">
        <img
          src="../../assets/img/undraw-online-learning-re-qw08-1@1x.svg"
          alt=""
        />
        
      </div>
    </div>
<br><br>
    <div class="col-sm-3">
      <div class="d-flex flex-column" style="align-items: center">
        <div class="label" style="width: 300px">
          <div class="d-flex justify-content-between" style="width: 250px">
            <img
              src="../../assets/img/image-4@2x.png"
              alt=""
              style="width: 20px; height: 20px; margin-top: 7px"
            />&nbsp;&nbsp;
            <div class="title">Start your Free Franchisee Business with Us</div>
          </div>
        </div>

        <div class="d-flex flex-column" style="align-items: center">
          <div class="label" style="width: 300px">
            <div class="d-flex justify-content-between" style="width: 250px">
              <img
                src="../../assets/img/image-4@2x.png"
                alt=""
                style="width: 20px; height: 20px; margin-top: 7px"
              />&nbsp;&nbsp;
              <div class="title">Plan & Achieve Early Financial Freedom</div>
            </div>
          </div>

      
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 60px; margin-bottom: 60px">
    <div class="course-title">Choose From Anyone Of The Courses Below</div>

    <div class="d-flex justify-content-evenly" style="margin-right: 10px">
      
      <div (click)="razor_pay1()" class="label2 d-flex flex-column">
        
        <div class="plan-details" style="margin-top: 10px">
          Forex Market  
        </div>
        <div class="plan-details" style="margin-top: 10px">
          Course
        </div>
        <div class="plan-details" style="margin-top: 80px; color: #ce992f">
          Rs. 15,000 + GST
        </div>
        <div class="plan-details" style="margin-top: 5px; color: #ce992f">
          OR 245 USD
        </div>
      </div>

      <div
        (click)="razor_pay2()"
        class="label2 d-flex flex-column"
        style="margin-left: 10px"
      >
        <div class="plan-details">Indian Stock </div>
        <div class="plan-details"> Market Course</div>
        <div class="plan-details" style="margin-top: 80px; color: #ce992f">
          Rs. 15,000 + GST
        </div>
        <div class="plan-details" style="margin-top: 5px; color: #ce992f">
          OR 245 USD
        </div>
      </div>

      <div
        (click)="razor_pay3()"
        class="label2 d-flex flex-column"
        style="margin-left: 10px"
      >
        <div class="plan-details">Combo Course</div>
        <div class="plan-details">
            Forex & Stock Market
        </div>
        <!-- <div class="plan-details"></div> -->
        <div class="plan-details" style="margin-top: 80px; color: #ce992f">
          Rs. 25,000 + GST
        </div>
        <div class="plan-details" style="margin-top: 5px; color: #ce992f">
          OR 405 USD
        </div>
      </div>
    </div>
  </div>
</div>
