<div class="banner">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="text-center title" style="margin-top: 50px;">Welcome to our videos section</div>
        </div>
    </div>
</div>

<div class="text-center vid" style="margin-top: 65px;width: 100%;">Videos to help you out throughout the website</div>

<div class="container" style="margin-top: 40px;padding-left: 3%;">
    <div class="row">
        <div class="col-sm-4">
            <div class="vid-box">
                <img src="../../assets/img/rectangle-23800-1@2x.svg" alt="">
                <div class="vid-title">1. Sign-Up process</div>
                <div class="subs">Heterongar serevåv. Katrer higt sekånade, och lönade dugist. Hibänera </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="vid-box">
                <img src="../../assets/img/rectangle-23800-2@2x.svg" alt="">
                <div class="vid-title">2. E-pin activation and transfer </div>
                <div class="subs">Heterongar serevåv. Katrer higt sekånade, och lönade dugist. Hibänera </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="vid-box">
                <img src="../../assets/img/rectangle-23800-3@2x.svg" alt="">
                <div class="vid-title">3. KYC Process</div>
                <div class="subs">Heterongar serevåv. Katrer higt sekånade, och lönade dugist. Hibänera </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 40px; margin-bottom: 60px;padding-left: 3%;">
    <div class="row">
        <div class="col-sm-4">
            <div class="vid-box">
                <img src="../../assets/img/rectangle-23800-1@2x.svg" alt="">
                <div class="vid-title">4. Demat Account Creation</div>
                <div class="subs">Heterongar serevåv. Katrer higt sekånade, och lönade dugist. Hibänera </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="vid-box">
                <img src="../../assets/img/rectangle-23800-2@2x.svg" alt="">
                <div class="vid-title">5. Telegram channel & sources </div>
                <div class="subs">Heterongar serevåv. Katrer higt sekånade, och lönade dugist. Hibänera </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="vid-box">
                <img src="../../assets/img/rectangle-23800-3@2x.svg" alt="">
                <div class="vid-title">6. Network Marketing Basics</div>
                <div class="subs">Heterongar serevåv. Katrer higt sekånade, och lönade dugist. Hibänera </div>
            </div>
        </div>
    </div>
</div>
